    body {
        background: #f4f2ec url(fundo.png) repeat-x;
        font: 12px "Lucinda Grande", "Lucinda Sans Unicode", Arial, sans-serif;
    }

    #botao-collapse {
    background-color: #8f6126;
    }

    #menu a,
    #historia-restaurante a {
    text-align: center;
    color: #af670a;
	text-decoration: none;
    }

    #menu a:hover,
    a:hover,
    #historia-restaurante a:hover {
    color: #227115;
    }

    #logo {
    float: left;
    color: #af670a;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5em;
    }

    #historia-restaurante {
	background: #ebe7dd;
	padding: 30px;
    height: 280px;
	margin-left: 0;
    text-align: center;
    justify-content: center;
    }

    #historia-restaurante h5,
    #cardapio h5 {
        font-size: 1.8em;
        font-family: "Dancing Script", cursive;
    }

    #cardapio a {
        text-decoration: none;
        color: black;
    }

    #cardapio .card:hover {
        background-color: #f7f6f3;
    }

    footer {
	padding: 20px 0 30px 0;
	text-align: center;
	background: url(fundo-rodape.png) no-repeat center top;
    }

    footer > p a {
        padding: 2px 10px;
        text-decoration: none;
        color: #af670a;
    }