body {
    background: #f4f2ec url(fundo.png) repeat-x;
    font: 12px "Lucinda Grande", "Lucinda Sans Unicode", Arial, sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

header {
	padding: 30px;
	height: 55px;
}

#nav-principal a {
	color: #af670a;
	text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
}

#nav-principal a:hover,
footer a:hover {
	color: #227115;
}

#logo h2 {
    color: #af670a;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2em;
}

#home .container {
    margin-top: 120px;
}

#home .container input {
    width: 500px;
}

#home .container label {
    margin: 10px;
}

footer {
	padding: 20px 0 30px 0;
	text-align: center;
	background: url(fundo-rodape.png) no-repeat center top;
	margin-top: 20px;
}

footer > p a {
	padding: 2px 10px;
    color: #af670a;
}